.main_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 12px 0 0;
}

.first_half {
    position: relative;
    display: flex;
    flex-direction: column;     
    align-items: center;
    padding: 3rem 0;
}

.title {
    font-size: 60px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    text-align: center;
    color: #2a2c35;

    padding: 0 0 1rem;
}

.subtitle {
    font-size: 24px;
    font-weight: normal;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: center;
    color: #545465;
    margin: 0 0 1px;
}

.switch_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 356px;
    height: 55px;
    border-radius: 29px;
    background-color: #f7f7f7;

    margin: 6rem 0 3rem;
    padding: 0 4px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 173px;
    height: 45px;
    border-radius: 21.4px;
    background-color: #f7f7f7;

    font-family: "averta-bold";
    font-size: 17.1px;
    line-height: 1.84;
    letter-spacing: -0.28px;
    text-align: center;
    color: #22232b;

    outline: none;
    border: none;
}

.grey {
    background-color: #fefffe;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.06);
}

.speech {
    position: absolute;
    left: 0;
    padding: 11rem 0 0 7rem;
}

.letter {
    position: absolute;
    right: 0;
    margin: 6rem 1rem 0 0;
}

.star {
    position: absolute;
    right: 0;
    margin: 11rem 13rem 0 0;
}

.face {
    position: absolute;
    right: 0;
    margin: 6rem 6rem 0 0;
}

.mail {
    position: absolute;
    left: 0;
    margin: 15rem 0 0 5rem;
}