.container { 
    display: flex;
    flex-direction: row;
    width: 100%;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 0 0 161px;
    width: 50%;
}

.title {
    max-width: 540px;;
    font-size: 60px;
    letter-spacing: 0.3px;
    color: #2a2c35;
}

.subtitle {
    max-width: 511px;
    font-size: 24px;
    line-height: 1.38;
    letter-spacing: normal;
    color: #545465;

    padding: 1.5rem 0 0;
}