.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 16px;
    position: relative;
    width: 100%;

    padding: 3rem 0 6rem;
}

.secondary {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 0 13rem;
}

.title {
    max-width: 892px;
    font-size: 114px;
    line-height: 0.97;
    letter-spacing: -0.59px;
    text-align: center;
    color: #2a2c35;

    padding: 0 0 4rem;
}

.subtitle {
    max-width: 780px;
    font-size: 26px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.46;
    letter-spacing: -0.2px;
    text-align: center;
    color: #545465;
}

.subtitle2 {
    
    font-size: 26px;
    line-height: 1.46;
    letter-spacing: -0.1px;
    text-align: center;
    color: #2b2a35;
    margin: 0 0 1rem 0;
}

.subtitle3 {
    
    font-size: 16px;
    line-height: 2.38;
    letter-spacing: 0.1px;
    text-align: center;
    color: #999999;

    padding: 8px 0 1rem 0;
}

.picture {
    position: absolute;
    left: 0;
    padding: 0 0 0 4rem;
    z-index: -1;
}

.weather {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0 0 2rem 5rem;
    z-index: -1;
}

.circles {
    position: absolute;
    right: 0;
    padding: 27rem 7rem 0 0;
    z-index: -1;
}

.video {
    position: absolute;
    right: 0;
    margin: 0 3rem 0 0;
    z-index: -1;
}

.lgcross {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 0 7rem 16rem;
    z-index: -1;
}

.mdcross {
    position: absolute;
    right: 0;
    padding: 14rem 10rem 0 0;
    z-index: -1;
}

.smcross {
    position: absolute;
    bottom: 0;
    padding: 0 2rem 3rem 0;
    z-index: -1;
}

.cross {
    position: absolute;
    right: 0;
    padding: 4rem 25rem 0 0;
    z-index: -1;
}

.recorder {
    position: absolute;
    left: 0;
    padding: 4rem 0 0 15rem;
    z-index: -1;
}

.message {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 30rem 3rem 0;
    z-index: -1;
}

.email {
    width: 225px;
    height: 50px;

    border: solid 1px #dddfe5;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    outline: 0;

    
    font-size: 16px;
    line-height: normal;
    letter-spacing: 0px;
    color: #807F86;

    padding: 0 0 0 1rem;
}

.button {
    width: 154px;
    height: 50px;
    border: none;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #0084ff;
    outline: 0;

    
    font-size: 18px;
    line-height: 2.11;
    letter-spacing: 0px;
    text-align: center;
    color: white;
}

.button:hover {
    background-color: #0074e0;
    cursor: pointer;
}

@keyframes semirotating {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-20deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

@keyframes move {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(20px);
    }

    100% {
        transform: translateY(0);
    }
}

.animation_picture {
    transform: translatey(0px);
    animation: semirotating 10s ease-in-out infinite;
}

.animation_weather {
    transform: translatey(0px);
    animation: semirotating 15s linear infinite;
}

.animation_video {
    transform: translatey(0px);
    animation: semirotating 20s ease-in-out infinite;
}

.animation_cross {
    transform: translatey(0px);
    animation: move 20s linear infinite;
}

.animation_cross2 {
    transform: translatey(0px);
    animation: move 15s linear infinite;
}

.animation_cross3 {
    transform: translatey(0px);
    animation: move 10s linear infinite;
}

.animation_circles {
    transform: translatey(0px);
    animation: semirotating 25s linear infinite;
}

.animation_recorder {
    transform: translatey(0px);
    animation: semirotating 20s ease-in-out infinite;
}

.animation_message {
    transform: translatey(0px);
    animation: semirotating 20s ease-in-out infinite;
    z-index: 1;
}