.main {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 8rem 0 5rem;
}

.title{
    font-family: "averta-extrabold";
    font-size: 60px;
    letter-spacing: 0.3px;
    text-align: center;
    color: #2a2c35;
}