.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.assosciated {
    font-family: "averta";
    font-size: 17px;
    font-weight: 600;
    font-stretch: normal;
    letter-spacing: 0.74px;
    text-align: center;
    color: #bbbbbb;

    margin: 4rem 0 4rem 0;
}

.assosciated_logos {
    width: 88%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    margin: 0 0 5rem;
}

.subtitle {
    width: 741px;
    font-family: "averta";
    font-size: 26px;
    line-height: 1.5;
    letter-spacing: -0.34px;
    text-align: center;
    color: #2a2c35;

    margin: 0 12rem 5rem;
}

.colored {
    font-family: "averta-bold";
}

.subtitle2 {
    font-size: 16px;
    font-weight: normal;
    line-height: 2.69;
    letter-spacing: -0.1px;
    color: #646473;
    text-align: center;

    margin: 1rem 0 0;
}