.background {
    display: flex;
    flex-direction: column;
}

.image {
    position: absolute;
    z-index: -1;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 117px;
}

.void {
    display: flex;
    flex: 0.5;
}

.title {
    width: 495px;
    text-shadow: 0 2px 28px rgba(0, 0, 0, 0.5);
    font-family: "averta";
    font-size: 2.5rem;
    font-weight: 600;
    line-height: 1.35;
    letter-spacing: 1px;
    color: white;
    text-align: left;
}

.button {
    width: 118px;
    height: 35px;
    border-radius: 17.5px;
    box-shadow: 0 2px 14px 0 rgba(0, 0, 0, 0.12);
    background-color: white;
    outline: none;
    border: none;

    margin: 3.5rem 0 0;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.85);
    cursor: pointer;
}

.text_button {
    font-family: "averta";
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    letter-spacing: 0.2px;
    color: black;
}