.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8rem 0 0;
}

.title {
    font-family: "averta-extrabold";
    font-size: 60px;
    font-stretch: normal;
    letter-spacing: 0.3px;
    text-align: center;
    color: #2a2c35;
}