
.title {
    font-size: 60px;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.3px;
    text-align: center;
    color: #2a2c35;
}

.link {
    font-family: "averta-bold";
    font-size: 22px;
    line-height: 1.73;
    letter-spacing: -0.21px;
    text-align: right;
    color: #0084ff;

    margin: 5rem 0 137px;
}