.background {
    display: flex;
    flex-direction: column;
    background-image: url("/images/1440/About/Section 1/background.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    height: 820px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.void {
    display: flex;
    flex: 0.5;
}

.title {
    width: 70%;
    font-size: 114px;
    line-height: 0.97;
    text-align: center;
    letter-spacing: -0.59px;
    color: #2a2c35;

    margin: 2rem 0 0;
}

.subtitle {
    font-size: 26px;
    line-height: 1.46;
    letter-spacing: -0.1px;
    text-align: center;
    color: #2b2a35;

    margin: 2rem 0 0;
}