.background {
    display: flex;
    flex-direction: column;
    background-image: url("/images/1440/About/Section 1/background.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    height: 820px;
}

@media screen and (min-width: 375px) and (max-width: 749px) {
    .background {
        background-image: url("/images/1440/About/Section 1/375p background.png");
        background-size: contain;
    }
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.void {
    display: flex;
    flex: 0.5;
}

.title {
    width: 1000px;
    font-size: 114px;
    line-height: 0.97;
    text-align: center;
    letter-spacing: -0.59px;
    color: #2a2c35;

    margin: 2rem 0 0;
}

.subtitle {
    font-size: 26px;
    line-height: 1.46;
    letter-spacing: -0.1px;
    text-align: center;
    color: #2b2a35;

    margin: 2rem 0 0;
}

.email {
    width: 225px;
    height: 50px;

    border: solid 1px #dddfe5;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    outline: 0;

    font-family: "averta";
    font-size: 16px;
    line-height: normal;
    letter-spacing: 0px;
    color: #807F86;

    padding: 0 0 0 1rem;
}

.button {
    width: 154px;
    height: 50px;
    border: none;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #0084ff;
    outline: 0;

    font-family: "averta-bold";
    font-size: 18px;
    line-height: 2.11;
    letter-spacing: 0px;
    text-align: center;
    color: white;
}