@import '../../node_modules/react-modal-video/scss/modal-video.scss';

.neonBlur {
  background-image: url('/images/privacy/neonBlur.webp');
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
}