/* Roboto font family */

@font-face {
  font-family: Roboto;
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  src: local('Roboto Thin'), url('./Roboto-Thin.ttf') format('truetype');
}

/* @font-face {
  font-family: Roboto;
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: local('Roboto Extralight'), url('./Roboto-Extralight.ttf') format('truetype');
} */

@font-face {
  font-family: Roboto;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: local('Roboto Light'), url('./Roboto-Light.ttf') format('truetype');
}

@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local('Roboto Regular'), url('./Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Roboto;
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: local('Roboto Medium'), url('./Roboto-Medium.ttf') format('truetype');
}

@font-face {
  font-family: Roboto;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: local('Roboto Semibold'), url('./Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local('Roboto Bold'), url('./Roboto-Bold.ttf') format('truetype');
}

/* @font-face {
  font-family: Roboto;
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  src: local('Roboto Extrabold'), url('./Roboto-Extrabold.ttf') format('truetype');
} */

@font-face {
  font-family: Roboto;
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  src: local('Roboto Black'), url('./Roboto-Black.ttf') format('truetype');
}
