.neonBlur {
  background-image: url('/images/privacy/neonBlur.webp');
  background-position: top center;
  background-size: cover;
  background-repeat: initial;
}

.titleAndOnePlanSection {
  background: linear-gradient(115.95deg, rgba(239, 239, 239, 0.25) 10.92%, rgba(255, 255, 255, 0.08) 96.4%);
}

.horizontalLinearGardient {
  background: linear-gradient(279.29deg, #0c4499 3.25%, #041733 78.35%);
}
