@media (min-width: 1238px) {
    .cookies {
        background: white !important;
        align-items: baseline;
        color: #2A2C35 !important;
        display: flex;
        flex-wrap: wrap;
        position: fixed;
        border-radius: 21px;
        margin-bottom: 10px;
        left: 30% !important;
        width: 40% !important;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 
                    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 
                    0 12.5px 10px rgba(0, 0, 0, 0.06), 
                    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
                    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
                    0 100px 80px rgba(0, 0, 0, 0.12);
    }
} 

@media (max-width: 1238px) {
    .cookies {
        background: white !important;
        align-items: baseline;
        color: #2A2C35 !important;
        display: flex;
        flex-wrap: wrap;
        position: fixed;
        border-radius: 21px;
        margin-bottom: 10px;
        left: 25% !important;
        width: 50% !important;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 
                    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 
                    0 12.5px 10px rgba(0, 0, 0, 0.06), 
                    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
                    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
                    0 100px 80px rgba(0, 0, 0, 0.12);
    }
} 

@media (max-width: 824px) {
    .cookies {
        background: white !important;
        align-items: baseline;
        color: #2A2C35 !important;
        display: flex;
        flex-wrap: wrap;
        position: fixed;
        border-radius: 21px;
        margin-bottom: 10px;
        left: 15% !important;
        width: 65% !important;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 
                    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 
                    0 12.5px 10px rgba(0, 0, 0, 0.06), 
                    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
                    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
                    0 100px 80px rgba(0, 0, 0, 0.12);
    }
}

@media (max-width: 824px) {
    .cookies {
        background: white !important;
        align-items: baseline;
        color: #2A2C35 !important;
        display: flex;
        flex-wrap: wrap;
        position: fixed;
        border-radius: 21px;
        margin-bottom: 10px;
        left: 5% !important;
        width: 75% !important;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 
                    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 
                    0 12.5px 10px rgba(0, 0, 0, 0.06), 
                    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
                    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
                    0 100px 80px rgba(0, 0, 0, 0.12);
    }
} 

@media (max-width: 481px) {
    .cookies {
        background: white !important;
        align-items: baseline;
        color: #2A2C35 !important;
        display: flex;
        flex-wrap: wrap;
        position: fixed;
        border-radius: 0px;
        margin-bottom: 0px;
        left: 0% !important;
        width: 100% !important;
        box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034), 
                    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 
                    0 12.5px 10px rgba(0, 0, 0, 0.06), 
                    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
                    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
                    0 100px 80px rgba(0, 0, 0, 0.12);
    }
}