.first_half {
    display: flex;
    height: 440px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(51deg, #4a66f7 2%, #7a5bfe 87%);

    padding: 4rem;
}

.second_half {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.get_started_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 63px 0 0;
}

.title {
    font-family: "averta-extrabold";
    font-size: 46px;
    font-weight: 800;
    line-height: 1.15;
    letter-spacing: 0.1px;
    text-align: center;
    color: white;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 147px;
    height: 40px;
    border-radius: 24.3px;
    background-color: white;
    outline: none;
    border: none;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.85);
    cursor: pointer;
}

.text_button {
    font-family: "averta-semibold";
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #605dfa;
    margin-bottom: 0;
}

.learn_more {
    font-family: "averta-light";
    font-size: 13px;
    line-height: 2.92;
    letter-spacing: 0.2px;
    text-align: center;
    color: white;

    margin: .6rem 0 0;
}

.learn_more:hover {
    color: rgb(207, 207, 207);
}

.keep_updated {
    max-width: 500px;
    font-family: "Averta-semibold";
    font-size: 26px;
    font-weight: 600;
    line-height: 1.35;
    letter-spacing: normal;
    color: #2a2c35;
}

.signup_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 77%;
    padding: 52px 0 0;
}

.social_container {
    width: 77%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 0 5rem;
}

.text_container {
    display: flex;
    flex-direction: column;
}

.logo {
    width: 17px;
    margin: 0 4px 0 0;
}

.p_container {
    display: flex;
    flex-direction: column;
}

.label {
    font-family: "averta-bold";
    font-size: 18px;
    line-height: 1.83;
    letter-spacing: normal;
    color: #4f4f5f;
}

.followus_container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.p_social {
    font-family: "averta";
    font-size: 16px;
    line-height: 2.06;
    letter-spacing: normal;
    color: #646473;
    margin: .25rem 0 0;
}

.line {
    height: 1px;
    width: 77%;
    background-color: #e7e7e7;

    margin: 4rem 0;
}

.image {
    margin: -7px 0 0 -30px;
}

.form {
    display:flex;
    flex-direction:row;
    width: 316px;
    border: solid 1px #eaecf0;
    border-radius: 6px;
    background-color: #fafbff;
    padding: .3rem .5rem .3rem 1rem;
    margin: 3rem 0 0;
  }
  
  .input {
    flex-grow:2;
    border:none;
    background-color: #fafbff;
    font-family: "averta-light";
  }
  
  .input:focus {
    /* removing the input focus blue box. Put this on the form if you like. */
    outline: none;
  }
  
  .input_button {
    /* Just a little styling to make it pretty */
    font-family: "averta-light";
    font-size: 13px;
    width: 50px;
    height: 28px;
    background: #0084ff;
    color:white;
  }

  .email2 {
    width: 225px;
    height: 50px;

    border: solid 1px #dddfe5;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    outline: 0;

    font-family: "averta";
    font-size: 17px;
    line-height: normal;
    letter-spacing: -0.1px;
    color: #807f86;

    padding: 0 0 0 1rem;
}

.button2 {
    width: 154px;
    height: 50px;
    border: none;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #0084ff;
    outline: 0;

    font-family: "averta";
    font-size: 18px;
    line-height: 2.11;
    letter-spacing: -0.1px;
    text-align: center;
    color: white;
}

.button2:hover {
    background-color: #0074e0;
    cursor: pointer;
}

.faqtext {
    font-family: "averta-light";
    font-size: 16px;
    line-height: 2.11;
    letter-spacing: -0.1px;
    text-align: center;
}