
.links {
    display: flex;
    align-items: center;
}

.active_link {
    display: flex;
    align-items: center;
    font-family: "averta-bold";
    font-size: 16px;
    line-height: normal;
    letter-spacing: 0px;
    margin: 0 1.4rem;
    color: #0084ff;
}

.nonactive_link {
    display: flex;
    align-items: center;
    font-family: "averta-bold";
    font-size: 16px;
    line-height: normal;
    letter-spacing: 0px;
    color: #1a1a1a;
    margin: 0 1.4rem;
}

.nonactive_link:hover {
    color: #0078e9
}

.button {
    width: 118px;
    height: 35px;
    border-radius: 17.5px;
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: rgba(0, 0, 0, 0.8);

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0 0 0 17px
}

.button:hover {
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.12);
    background-color: rgba(0, 0, 0, 0.87);
    cursor: pointer;
}

.button_text {
    font-family: "averta-bold";
    font-size: 14px;
    letter-spacing: 0.2px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.86), rgba(255, 255, 255, 0.86)), 
        linear-gradient(261deg, #ff000c 0%, #ac00ff 20%, #00e3ff 47%, #47ff7d 72%, #ffe700 100%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.white {
    color: white;
}

.brand {
    width: 110px;
}

.get_started {
    width: 118px;
    margin: 0 0 0 8px;
}