
/* NeueEinstellung font family */

/*
@font-face {
  font-family: "NeueEinstellung";
  font-display: auto;
  src: url("./NeueEinstellung-Thin.ttf"),
       url("./NeueEinstellung-Extralight.ttf"),
       url("./NeueEinstellung-Light.ttf"),
       url("./NeueEinstellung-Regular.ttf"),
       url("./NeueEinstellung-Medium.ttf"),
       url("./NeueEinstellung-Semibold.ttf"),
       url("./NeueEinstellung-Bold.ttf"),
       url("./NeueEinstellung-Extrabold.ttf"),
       url("./NeueEinstellung-Black.ttf");
}
*/

@font-face {
  font-family: "NeueEinstellung";
  font-weight: 100;
  font-style: normal;
  font-display: auto;
  src: local("Neue Einstellung Thin"),
       url("./NeueEinstellung-Thin.ttf") format("truetype"),
       url("./NeueEinstellung-Thin.woff") format("woff"),
       url("./NeueEinstellung-Thin.woff2") format("woff2");
}

@font-face {
  font-family: "NeueEinstellung";
  font-weight: 200;
  font-style: normal;
  font-display: auto;
  src: local("NeueEinstellung Extralight"),
       url("./NeueEinstellung-Extralight.ttf") format("truetype"),
       url("./NeueEinstellung-Extralight.woff") format("woff"),
       url("./NeueEinstellung-Extralight.woff2") format("woff2");
}

@font-face {
  font-family: "NeueEinstellung";
  font-weight: 300;
  font-style: normal;
  font-display: auto;
  src: local("NeueEinstellung Light"),
       url("./NeueEinstellung-Light.ttf") format("truetype"),
       url("./NeueEinstellung-Light.woff") format("woff"),
       url("./NeueEinstellung-Light.woff2") format("woff2");
}

@font-face {
  font-family: "NeueEinstellung";
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  src: local("NeueEinstellung Regular"),
       url("./NeueEinstellung-Regular.ttf") format("truetype"),
       url("./NeueEinstellung-Regular.woff") format("woff"),
       url("./NeueEinstellung-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "NeueEinstellung";
  font-weight: 500;
  font-style: normal;
  font-display: auto;
  src: local("NeueEinstellung"),
       url("./NeueEinstellung-Medium.ttf") format("truetype"),
       url("./NeueEinstellung-Medium.woff") format("woff"),
       url("./NeueEinstellung-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "NeueEinstellung";
  font-weight: 600;
  font-style: normal;
  font-display: auto;
  src: local("NeueEinstellung Semibold"),
       url("./NeueEinstellung-Semibold.ttf") format("truetype"),
       url("./NeueEinstellung-Semibold.woff") format("woff"),
       url("./NeueEinstellung-Semibold.woff2") format("woff2");
}

@font-face {
  font-family: "NeueEinstellung";
  font-weight: 700;
  font-style: normal;
  font-display: auto;
  src: local("NeueEinstellung Bold"),
       url("./NeueEinstellung-Bold.ttf") format("truetype"),
       url("./NeueEinstellung-Bold.woff") format("woff"),
       url("./NeueEinstellung-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "NeueEinstellung";
  font-weight: 800;
  font-style: normal;
  font-display: auto;
  src: local("NeueEinstellung Extrabold"),
       url("./NeueEinstellung-Extrabold.ttf") format("truetype"),
       url("./NeueEinstellung-Extrabold.woff") format("woff"),
       url("./NeueEinstellung-Extrabold.woff2") format("woff2");
}

@font-face {
  font-family: "NeueEinstellung";
  font-weight: 900;
  font-style: normal;
  font-display: auto;
  src: local("NeueEinstellung Black"),
       url("./NeueEinstellung-Black.ttf") format("truetype"),
       url("./NeueEinstellung-Black.woff") format("woff"),
       url("./NeueEinstellung-Black.woff2") format("woff2");
}