.main {
    height: 850px;
    background-image: url("/images/1440/Token/Section 1/Colours bg.webp");
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    margin: 0 3.5rem;
}

@media screen and (min-width: 375px) and (max-width: 749px) {
    .main {
        background-image: url("/images/1440/Token/Section 1/375p Colours bg.webp");
        background-size: contain;
    }
}

.title {
    max-width: 1000px;
    width: 845px;
    width: 100%;
    font-size: 114px;
    font-weight: 800;
    line-height: 0.97;
    letter-spacing: -0.19px;
    text-align: center;
    color: #2a2c35;

    margin: 3rem 0 4rem;
}

.subtitle {
    width: 596px;
    font-size: 26px;
    font-weight: normal;
    line-height: 1.46;
    letter-spacing: -0.2px;
    text-align: center;
    color: #545465;
    width: 596px;
}

.modal_title {
    width: 596px;
    font-size: 26px;
    font-weight: normal;
    line-height: 1.46;
    letter-spacing: -0.2px;
    color: #545465;
    width: 596px;
}

.buttons_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin: 3rem 0 0;
}

.button {
    width: 127px;
    height: 37.6px;
    border-radius: 18.8px;
    box-shadow: 0 2px 8px 0 rgba(0, 132, 255, 0.2);
    background-color: #0084ff;
    outline: none;
    border: none;

    margin: 0 1rem 0 0;
}

.button:hover {
    cursor: pointer;
    opacity: 90%;
}

.button_text {
    font-family: "averta";
    font-size: 17px;
    font-weight: 600;
    letter-spacing: .2px;
    line-height: normal;
    text-align: center;
    color: white;
}

.learn_more {
    font-family: "averta";
    font-size: 17px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.95;
    letter-spacing: -0.1px;
    color: #2a2c35;
}

.learn_more:hover {
    color: #2a2c35;
    opacity: 80%;
}

.left_image {
    position: absolute;
    left: 0;
    top: 504%;
    float: left;
    z-index: 1;
}

.image {
    position: absolute;
    display: flex;
    justify-content: center;
    padding: 14px 0 0;
}