

.title {
    font-size: 60px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.19px;
    text-align: center;
    color: #2a2c35;

    margin: 8rem 0 5rem;
}

.card {
    width: 250px;
    height: 120px;
}

.label {
    font-size: 15px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.3px;
    text-align: center;
    color: #9397a9;
}

.data {
    font-family: "averta-bold";
    font-size: 53px;
    line-height: normal;
    letter-spacing: -0.8px;
    text-align: center;
    color: black;

    margin: 30px 0 0
}

.green {
    color: #10ce45
}

.red {
    color: #2A2C35
}

.blue {
    color: #0084ff
}