

.title {
    font-size: 60px;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.3px;
    text-align: center;
    color: #2a2c35;
    margin: 5rem 0 0;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 6px;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.02);
    border: solid 1px #f0f0f0;
    background-color: white;

    width: 220px;
    height: 141px;
}

.images {
    position: relative;
    width: 100%;
}

.left_image {
    position: absolute;
    left: 0;
    margin: 8rem 0 0;
    z-index: -1;
}

.right_image {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}