.container { 
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 7rem 0;
}

.main {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.title {
    width: 511px;
    font-size: 60px;
    line-height: normal;
    letter-spacing: 0.3px;
    color: #2a2c35;
}

.subtitle {
    width: 511px;
    font-size: 24px;
    line-height: 1.38;
    letter-spacing: normal;
    color: #545465;

    padding: 1.5rem 0 0;
}

.button_container {
    display: flex;
    flex-direction: row;

    margin: 95px 0 0;
}

.button1 {
    width: 147px;
    height: 46px;
    border-top-left-radius: 24.8px;
    border-bottom-left-radius: 24.8px;
    background-color: #ff38a4;

    margin: 0 1px 0 0;
    outline: none;
    border: none;

    font-family: "averta-light";
    font-size: 17px;
    letter-spacing: -0.1px;
    color: white;
}

.button2 {
    width: 147px;
    height: 46px;
    border-top-right-radius: 24.8px;
    border-bottom-right-radius: 24.8px;
    background-color: #ff38a4;

    outline: none;
    border: none;
    
    font-family: "averta-light";
    font-size: 17px;
    letter-spacing: -0.1px;
    color: white;
}