.main {
    display: flex;
    flex-direction: row;

    padding: 6.86rem 0;
}

.card_container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 0.6rem;
}

.image_container {
    position: relative;
    width: 100%;
}

.cube {
    position: absolute;
    left: 0;
    padding: 4rem 0 0;
}

.hoop {
    position: absolute;
    right: 0;
    padding: 38rem 0rem 0 0;
}