.container { 
    display: flex;
    flex-direction: row;

    padding: 144px 0 90px;
}

.main {
    display: flex;
    flex-direction: column;

    padding: 0 0 0 112px;
}

.title {
    width: 540px;
    font-size: 60px;
    line-height: normal;
    letter-spacing: -0.19px;
    color: #2a2c35;
}

.subtitle {
    width: 540px;
    font-size: 24px;
    font-weight: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #545465;

    padding: 1.5rem 0 0;
}

.link {
    
    font-size: 22px;
    line-height: 1.73;
    letter-spacing: -0.21px;
    text-align: center;
    color: #0084ff;

    margin: 3rem 0 6rem;
}

.margin {
    margin: 0 0 0px;
}