.featureBox {
  box-shadow: 0 1.5rem 2rem #F0F1F4;

  .securebydesignImage {
    background-image: url('/images/home/securebydesign.png');
    background-position: top left;
    background-size: cover;
    background-repeat: no-repeat;
  }
}