.signup_container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0 0;
}

.email {
    width: 225px;
    height: 50px;

    border: solid 1px #dddfe5;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    outline: 0;

    font-size: 17px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    color: #807f86;

    padding: 0 0 0 1rem;
}

.button {
    width: 154px;
    height: 50px;
    border: none;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #0084ff;
    outline: 0;

    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.11;
    letter-spacing: -0.1px;
    text-align: center;
    color: white;
}

.button:hover {
    background-color: #0074e0;
    cursor: pointer;
}