.signup_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.email {
    width: 225px;
    height: 50px;

    border: solid 1px #dddfe5;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    outline: 0;

    font-family: "averta";
    font-size: 16px;
    line-height: normal;
    letter-spacing: 0px;
    color: #807F86;

    padding: 0 0 0 1rem;
}

.button {
    width: 154px;
    height: 50px;
    border: none;
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
    background-color: #0084ff;
    outline: 0;

    font-family: "averta-semibold";
    font-size: 18px;
    line-height: 2.11;
    letter-spacing: 0px;
    text-align: center;
    color: white;
}

.button:hover {
    background-color: #0074e0;
    cursor: pointer;
}

.hidden {
    display: none;
}