
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 533px;
    border-radius: 9px;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.02);
    border: solid 1px #f0f0f0;
    background-color: white;

    padding: 4rem 3.5rem 0 3.5rem;
    margin: 0 1rem;
}

.logo {
    position: absolute;
    top: 0;
    margin: 3rem 0 0;
}

.title {
    font-family: "averta-bold";
    font-size: 35px;
    line-height: 1.15;
    letter-spacing: -0.35px;
    color: #2a2c35;

    margin: 2.5rem 0 0;
}

.subtitle {
    max-width: 396px;
    font-size: 19px;
    font-weight: normal;
    line-height: 1.58;
    letter-spacing: normal;
    color: #545465;

    margin: 21px 0 0;
}

.links_container {
    display: flex;
    flex-direction: row;
}

.link {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.84;
    letter-spacing: -0.17px;
    text-align: left;
    color: #0084ff;
}

.margin {
    margin: 0 2px 0 0;
}