.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.name {
    font-family: "averta-bold";
    font-size: 20px;
    line-height: 1.65;
    letter-spacing: -0.1px;
    text-align: center;
    color: #2a2a2e;

    padding: 44px 0 0;
}

.desc {
    font-family: "averta";
    font-size: 18px;
    line-height: 1.83;
    letter-spacing: -0.1px;
    text-align: center;
    color: #5d5d65;
}