.card {
    display: flex;
    flex-direction: row;
    border-radius: 6px;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.02);
    border: solid 1px #f0f0f0;
    background-color: white;
}

.bio {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.image {
    display: flex;
    justify-content: flex-end;
    width: 55%;
}

.name {
    font-family: "averta-bold";
    font-size: 18px;
    line-height: 0.87;
    letter-spacing: -0.21px;
    color: #2a2c35;
}

.job {
    font-family: "averta";
    font-size: 13px;
    line-height: 1.18;
    letter-spacing: -0.19px;
    color: #646473;

    margin: 1rem 0 0;
}

.read_more {
    position: absolute;
    bottom: 0;
    margin: 0 0 2rem;
    font-family: "averta";
    font-size: 10px;
    letter-spacing: 0.36px;
    color: #9595a6;
}