.card_container {
    display: flex;
    flex-direction: column;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    min-height: 322px;
    border-radius: 9px;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.02);
    border: solid 1px #f0f0f0;
    background-color: white;

    padding: 0 0 1rem;
}

.paid_container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: inherit;
}

.most_popular {
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.76;
    letter-spacing: 0.1px;
    text-align: center;
    color: #ff74af;

    padding: 19px 0 0;
}

.void {
    height: 44px;
}

.free_msg {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 3rem 0 0;
}

.text_forever {
    text-shadow: 0 2px 20px white;
    background-image: linear-gradient(244deg, #3470fc 29%, #a011eb 90% );
    font-size: 18px;
    font-weight: normal;
    line-height: 1.72;
    letter-spacing: 0.9px;
    text-align: center;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text_free {
    font-size: 28px;
    background-image: linear-gradient(244deg, #3470fc 29%, #a011eb 90% );
    font-weight: bold;
    letter-spacing: 0.46px; 
    line-height: 1.72;
    text-align: center;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
      
}

.size {
    font-size: 30px;
    font-weight: 600;
    font-stretch: normal;
    letter-spacing: -0.63px;
    text-align: center;
    color: #2b2a35;
}

.background_pMonth {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 126px;
    height: 35px;
    border-radius: 19.5px;
    background-color: #0d8aff;

    margin: 1rem 0;
}

.pMonth {
    font-family: "averta-light";
    font-size: 14px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.79;
    letter-spacing: -0.19px;
    text-align: center;
    color: white
}

.label {
    font-size: 12px;
    font-weight: normal;
    line-height: 2.08;
    letter-spacing: -0.14px;
    text-align: center;
    color: #545465;
}

.pre_pay {
    font-size: 16px;
    font-weight: 600;
    line-height: 1.56;
    letter-spacing: -0.21px;
    text-align: center;
    color: #191919;
}

.line {
    height: 1px;
    width: 80%;
    background-color: #e8e8e8;

    margin: 1.5rem 0;
}

.try_for_free {
    font-size: 16px;
    font-weight: normal;
    line-height: 2.38;
    letter-spacing: 0.1px;
    text-align: center;
    color: #545465;

    padding: 0 0 1rem;
}