.card {
    display: flex;
    flex-direction: column;
    height: 471px;
    width: 355px;

    border-radius: 6px;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.02);
    border: solid 1px #f0f0f0;
    background-color: white;
}

.description {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.date {
    position: relative;
    font-family: "averta";
    font-size: 12px;
    line-height: 2.75;
    letter-spacing: 0.2px;
    color: #646473;
}

.title {
    font-family: "averta";
    font-size: 19px;
    line-height: 1.21;
    letter-spacing: -0.3px;
    color: #2a2c35;

    margin: 8px 0 0;
}

.link {
    position: absolute;
    bottom: 0;
    font-size: 11px;
    line-height: normal;
    letter-spacing: 0.4px;
    color: #0084ff;
}