.main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.title {
    font-size: 60px;
    line-height: 0.97;
    letter-spacing: -0.59px;
    text-align: center;
    color: #2a2c35;
    padding: 7rem 0 0;
}

.subtitle {
    max-width: 707px;
    font-size: 24px;
    line-height: 1.46;
    letter-spacing: -0.2px;
    text-align: center;
    color: #545465;

    padding: 1rem 0 0;
}

.cards_container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 4rem 6rem
}

.link {
    font-family: "averta-bold";
    font-size: 22px;
    line-height: 1.73;
    letter-spacing: -0.21px;
    text-align: center;
    color: #0084ff;

    margin: 3rem 0 6rem;
}