.container { 
    display: flex;
    flex-direction: row;
}

.image_container {
    flex: 1;
}

.main {
    display: flex;
    flex: 1;
    flex-direction: column;

    padding: 214px 4rem 0;
}

.title {
    font-size: 60px;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.3px;
    color: #2a2c35;
}

.subtitle {
    font-size: 24px;
    font-weight: normal;
    line-height: 1.38;
    letter-spacing: normal;
    color: #545465;

    padding: 1.5rem 0 0;
}