.container { 
    display: flex;
    flex-direction: row;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    padding: 0 0 0 80px;
}

.title {
    max-width: 511px;
    font-size: 60px;
    letter-spacing: 0.3px;
    color: #2a2c35;
}

.subtitle {
    max-width: 511px;
    font-size: 24px;
    line-height: 1.38;
    letter-spacing: normal;
    color: #545465;

    padding: 1.5rem 0 0;
}

.link {
    font-size: 22px;
    font-weight: bold;
    line-height: 1.73;
    letter-spacing: -0.21px;
    text-align: left;
    color: #0084ff;
}

.margin {
    margin: 0 0 3px;
}