.container { 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.container2 { 
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 158px 0 158px;
}

.hand {
    width: 50%;
}

.main {
    display: flex;
    flex-direction: column;
}

.title1 {
    font-size: 60px;
    letter-spacing: 0.3px;
    color: #2a2c35;
}

.title2 {
    max-width: 513px;
    font-size: 60px;
    letter-spacing: 0.3px;
    color: #2a2c35;
}

.subtitle1 {
    max-width: 687px;
    font-size: 24px;
    line-height: 1.38;
    letter-spacing: normal;
    color: #545465;

    padding: 1.5rem 0 0;
}

.subtitle2{
    max-width: 511px;
    font-size: 24px;
    line-height: 1.38;
    letter-spacing: normal;
    color: #545465;
    padding: 1rem 0 0;
}

.links {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 2.5rem 0;
}

.link {
    font-family: "averta-bold";
    font-size: 22px;
    line-height: 1.73;
    letter-spacing: -0.21px;
    text-align: right;
    color: #0084ff;
    padding: 0 3rem 0 0;
}