

.title {
    font-size: 60px;
    line-height: normal;
    letter-spacing: -0.19px;
    text-align: center;
    color: #2a2c35;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 284px;
    height: 141px;
    border-radius: 6px;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.02);
    border: solid 1px #f0f0f0;
    background-color: white;
}

.card:hover {
    opacity: 70%;
}

.form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images {
    position: relative;
    width: 100%;
}

.hand {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0 0 -1rem 0;
    z-index: -1;
}

.plane {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 6rem 2rem 0 0;
}