.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 16px;
  position: relative;
  width: 100%;
  padding: 3rem 0 2rem;
}

.secondary {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 0 0 13rem;
}

.title {
  max-width: 1042px;
  font-size: 114px;
  line-height: 0.97;
  letter-spacing: -0.59px;
  text-align: center;
  color: #2a2c35;
}

.lineThrough {
  text-decoration: line-through;
}

.subtitle {
  max-width: 738px;
  font-size: 26px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: -0.2px;
  text-align: center;
  color: #545465;

  padding: 2rem 0 0;
}

.subtitle2 {
  font-family: "averta-bold";
  font-size: 26px;
  line-height: 1.46;
  letter-spacing: -0.1px;
  text-align: center;
  color: #2b2a35;
  margin: 0 0 1rem 0;
}

.subtitle3 {
  font-family: "averta-light";
  font-size: 16px;
  line-height: 2.38;
  letter-spacing: 0.1px;
  text-align: center;
  color: #999999;
}

.label {
  font-family: "averta-light";
  font-size: 16px;
  line-height: 2.38;
  letter-spacing: 0.1px;
  text-align: center;
  color: #9e9e9e;
}

.star {
  position: absolute;
  left: 0;
  margin: 0 0 0 7rem;
  z-index: -1;
}

.gear {
  position: absolute;
  right: 0;
  margin: 3rem 4rem 0 0;
}

.coin {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0 0 5rem 4rem;
}

.lock {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0 14rem 2rem 0;
}

.cloud {
  position: absolute;
  left: 0;
  margin: 7rem 0 0 18rem;
  z-index: -1;
}

.hand {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: -1;
}

.email {
  width: 225px;
  height: 50px;

  border: solid 1px #dddfe5;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  outline: 0;

  font-family: "averta";
  font-size: 16px;
  line-height: normal;
  letter-spacing: 0px;
  color: #807F86;

  padding: 0 0 0 1rem;
}

.button {
  width: 290px;
  height: 50px;
  border: none;
  border-radius: 6px;
  background-color: #0084ff;
  outline: 0;

  font-family: "averta-semibold";
  font-size: 18px;
  line-height: 2.11;
  letter-spacing: 0px;
  text-align: center;
  color: white;
}

.button:hover {
  opacity: 90%;
}

.billing_container {
  background-color: white;
  border-radius: 12px;
  margin: 18px 0 1rem 0;
  padding: 0 4px;
}


@keyframes rotating {
  from {
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
}

@keyframes semirotating {
  0% {
      transform: rotate(0deg);
  }

  50% {
      transform: rotate(-20deg);
  }

  100% {
      transform: rotate(0deg);
  }
}

@keyframes pointing {
  0% {
      transform: translatey(0px);
  }

  50% {
      transform: translate3d(5ch, 0.4in, 5em);
  }

  100% {
      transform: translatey(0px);
  }
}

@keyframes curving {
from { 	transform: rotate(0deg) translateX(30px) rotate(0deg); }
to   {  transform: rotate(360deg) translateX(30px) rotate(-360deg); }
}

@keyframes navigating {
  0% {
      transform: translatex(0px);
  }

  50% {
      transform: translatex(150px);
  }

  100% {
      transform: translatex(0px);
  }
}

.animation_lock {
  transform: translatey(0px);
  animation: semirotating 5s ease-in-out infinite;
}

.animation_gear {
  transform: translatey(0px);
  animation: rotating 30s linear infinite;
}

.animation_hand {
  transform: translatey(0px);
  animation: pointing 20s ease-in-out infinite;
}

.animation_star {
  transform: translatey(0px);
  animation: curving 20s linear infinite;
}

.animation_cloud {
  transform: translatey(0px);
  animation: navigating 25s linear infinite;
}

.animation_coin {
  transform: translatey(0px);
  animation: semirotating 15s ease-in-out infinite;
}