/* Aeonik font family */

@font-face {
  font-family: 'Aeonik';
  font-weight: 100;
  font-style: normal;
  font-display: auto;
  src: local('Aeonik Thin'), url('./Aeonik-Air.otf') format('opentype');
}

@font-face {
  font-family: 'Aeonik';
  font-weight: 200;
  font-style: normal;
  font-display: auto;
  src: local('Aeonik Thin'), url('./Aeonik-Thin.otf') format('opentype');
}

@font-face {
  font-family: 'Aeonik';
  font-weight: 250;
  font-style: normal;
  font-display: auto;
  src: local('Aeonik Light'), url('./Aeonik-Light.otf') format('opentype');
}

@font-face {
  font-family: 'Aeonik';
  font-weight: 400;
  font-style: normal;
  font-display: auto;
  src: local('Aeonik Regular'), url('./Aeonik-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Aeonik';
  font-weight: 500;
  font-style: normal;
  font-display: auto;
  src: local('Aeonik Medium'), url('./Aeonik-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Aeonik';
  font-weight: 700;
  font-style: normal;
  font-display: auto;
  src: local('Aeonik Bold'), url('./Aeonik-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Aeonik';
  font-weight: 900;
  font-style: normal;
  font-display: auto;
  src: local('Aeonik Black'), url('./Aeonik-Black.otf') format('opentype');
}
