.neonBlur {
  background: radial-gradient(100% 100% at 50% 100%, #000205 0%, #001d6c 100%);
}

.radialGradient {
  background: radial-gradient(50% 50% at 50% 50%, #0066ff 0%, #000000 100%);
}

.linearGradient {
  background: linear-gradient(0deg, #0143a6 0%, #000000 100%);
}

.inverseLinearGradient {
  background: linear-gradient(180deg, #001d6c 0%, #121923 100%);
}
