.title {
    font-size: 60px;
    line-height: normal;
    letter-spacing: 0.3px;
    text-align: center;
    color: black;
    margin: 8rem 0 5rem;
}

.subtitle {
    font-family: "averta-light";
    font-size: 24px;
    line-height: 1.38;
    letter-spacing: normal;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}

.card {
    border-radius: 6px;
    box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.02);
    border: solid 1px #f0f0f0;
    background-color: white;
    padding: 2.5rem;
    max-width: 963px;
    width: 471px;
    height: 486px;
}

.steps {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 30px;
    border-radius: 8px;
    border-style: solid;
    border-width: 2px;
    border-image-source: linear-gradient(225deg, #47aaff -5%, #a96fff 93%);
    border-image-slice: 0;
    background-image: linear-gradient(to bottom, white, white), linear-gradient(225deg, #47aaff -5%, #a96fff 93%);
    background-origin: border-box;
    background-clip: content-box, border-box;

    margin: 0 0 2rem;
}

.steps_text {
    background-image: linear-gradient(239deg, #53a3ff 3%, #a96fff 86%);
    font-family: "averta-bold";
    font-size: 12px;
    line-height: normal;
    letter-spacing: 0.37px;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.card_title {
    font-family: "averta-bold";
    font-size: 32px;
    line-height: 1.25;
    letter-spacing: -0.3px;
    color: #2a2c35;
}

.card_subtitle {
    opacity: 0.8;
    font-family: "averta";
    font-size: 17px;
    line-height: 1.69;
    letter-spacing: normal;
    color: #545465;

    margin: 1rem 0 2rem;
}

.card_link {
    font-family: "averta-bold";
    font-size: 19px;
    line-height: 2;
    letter-spacing: -0.1px;
    color: #0084ff;
}

.long_card_description {
    display: flex;
    flex-direction: row;
}

.paragraph {
    width: 50%;
    margin: 0 6.5rem 0 0;
}

.all_set {
    font-size: 64px;
    background-image: linear-gradient(252deg, #44acff -1%, #44acff -1%, #a86fff 84%), linear-gradient(to bottom, white, white);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    margin: 0 0 8rem;
}