.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height: 95vh;
}

.secondary {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0 0 13rem;
}

.title {
    width: 873px;
    font-family: "averta-extrabold";
    font-size: 114px;
    line-height: 0.97;
    letter-spacing: -0.59px;
    text-align: center;
    color: #2a2c35;
    margin: 3rem 0 0;
}

.subtitle {
    width: 820px;
    font-size: 26px;
    line-height: 1.46;
    letter-spacing: -0.2px;
    text-align: center;
    color: #545465;

    margin: 4rem 0 0;
}

.subtitle2 {
    font-family: "averta-extrabold";
    font-size: 26px;
    line-height: 1.46;
    letter-spacing: 0px;
    text-align: center;
    color: #2b2a35;

    margin: 6rem 0 0;
}

.button_container {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 1.5rem 0 3rem 0;
}

.button_core {
    width: 127px;
    height: 38px;
    border-radius: 18.8px;
    box-shadow: 0 2px 8px 0 rgba(0, 132, 255, 0.2);
    background-color: #0084ff;

    font-family: "averta";
    font-size: 17px;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem 0 0;
    cursor: pointer;
}

.link {
    font-family: "averta-semibold";
    font-size: 17px;
    line-height: 1.95;
    letter-spacing: -0.1px;
    text-align: right;
    color: #2a2c35;
}

.left {
    position: absolute;
    left: 0;
    bottom: 0;
}

.right {
    position: absolute;
    right: 0;
    bottom: 0;
}

.colored {
    font-family: "averta-bold";
}

.coloredTitle {
    background-image: linear-gradient(85deg, #46abff 0%, #9d73ff 82% ), linear-gradient(to bottom, #0084ff, #0084ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}