.title {
    font-size: 50px;
    line-height: normal;
    letter-spacing: 0.3px;
    text-align: center;
    color: black;
    margin: 8rem 0;
}

.subtitle {
    font-size: 20px;
    line-height: 1.55;
    letter-spacing: normal;
    color: #545465;
}