@font-face {
  font-family: "averta";
  src: url("/fonts/averta-regular.otf");
  src: url("/fonts/averta-bold.otf");
  src: url("/fonts/averta-light.otf");
  src: url("/fonts/averta-black.otf");
  src: url("/fonts/averta-semibold.otf");
  src: url("/fonts/averta-extrabold.otf");
}

@font-face {
  font-family: "averta-extrabold";
  src: url("/fonts/averta-extrabold.otf");
}

@font-face {
  font-family: "averta-bold";
  src: url("/fonts/averta-bold.otf");
}

@font-face {
  font-family: "averta";
  src: url("/fonts/averta-regular.otf");
}

@font-face {
  font-family: "averta-light";
  src: url("/fonts/averta-light.otf");
}

@font-face {
  font-family: "averta-semibold";
  src: url("/fonts/averta-semibold.otf");
}

@font-face {
  font-family: "averta-black";
  src: url("/fonts/averta-black.otf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem 1rem;
  width: 100%;
}

p, h1{ 
  margin: 0;
}

h1 {
  font-family: "averta-extrabold";
}

p {
  font-family: "averta";
}

input[type=number]::-webkit-outer-spin-button, 
input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
}

input:disabled {
  background-color: #e9ecef;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grey {
  background-color: #fcfcfc;
}