@font-face {
  font-family: "averta";
  src: url("/fonts/averta-regular.otf");
  src: url("/fonts/averta-bold.otf");
  src: url("/fonts/averta-light.otf");
  src: url("/fonts/averta-black.otf");
  src: url("/fonts/averta-semibold.otf");
  src: url("/fonts/averta-extrabold.otf");
}

@font-face {
  font-family: "averta-extrabold";
  src: url("/fonts/averta-extrabold.otf");
}

@font-face {
  font-family: "averta-bold";
  src: url("/fonts/averta-bold.otf");
}

@font-face {
  font-family: "averta";
  src: url("/fonts/averta-regular.otf");
}

@font-face {
  font-family: "averta-light";
  src: url("/fonts/averta-light.otf");
}

@font-face {
  font-family: "averta-semibold";
  src: url("/fonts/averta-semibold.otf");
}

@font-face {
  font-family: "averta-black";
  src: url("/fonts/averta-black.otf");
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

header {
  display: flex !important;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem 1rem;
  width: 100%;
  z-index: 1;
}

p, h1{ 
  margin: 0;
}

h1 {
  font-family: "averta-extrabold";
}

p {
  font-family: "averta";
}

input[type=number]::-webkit-outer-spin-button, 
input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
}

button:focus {
  outline: none !important;
}

.normal_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grey {
  background-color: #fcfcfc;
}

.faq-row-wrapper {
  background-color: transparent;
}

.faq-title {
  font-family: "averta-extrabold";
  font-size: 50px;
  line-height: normal;
  letter-spacing: 0.25px;
  color: #2a2c35;

  padding: 0 0 4rem !important;
}

.faq-body {
}

.faq-row {
  padding: 1.5rem 0.5rem !important;
}

.row-title {
  font-family: "averta-light";
  font-size: 20px;
  line-height: 1.55;
  letter-spacing: normal;
  color: #545465;
}

.row-content {
  font-family: "averta-light";
  font-size: 15px;
  line-height: 1.55;
  letter-spacing: normal;
}

.row-content-text {
  margin: 1rem 0 0 !important;
}

@media screen and (min-width: 375px) and (max-width: 749px) {

  .faq-row-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
  }

  .faq-title {
    font-size: 36px;
    width: 80%;
    text-align: center;
    padding: 0 0 4rem !important;
  }
  
  .faq-body {
    padding: 0 1rem !important;
  }
  
  .faq-row {
    padding: 1.5rem 0.5rem !important;
  }

  .row-title {
    position: relative !important;
  }
  
  .row-title-text {
    font-family: "averta-light";
    font-size: 15px !important;
    line-height: 1.55;
    letter-spacing: normal;
    color: #545465;
  }
  
  .row-content-text {
    font-family: "averta-light";
    font-size: 13px !important;
    line-height: 1.55;
    letter-spacing: normal;
    margin: 1rem 0 0 !important;
  }
}
/* Bootstrap edits */

.navbar {
  padding-top: 0;
  padding-bottom: 0;
  padding: 0 15px 0 30px;
}

.navbar-light .navbar-toggler {
  color: rgba(0,0,0,.5);
  border: none
}

.navbar-nav {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0 0 7rem;
}

.nav-link {
  display: flex;
  align-items: center;
  font-family: "averta";
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: normal;
  color: #2b2a35 !important;
  margin: 1rem 0;
}

.navbar-toggler {
  padding-right: 0;
  padding-left: 0;
}