name: Cypress Tests

on:
  pull_request:
    types:
      - opened
      - synchronize

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22.x]
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      - run: echo '${{ secrets.CYPRESS_ENV }}' > cypress.env.json
      - run: echo '${{ secrets.ENV_LOCAL }}' > .env.local

      - name: Cypress run
        uses: cypress-io/github-action@v6
        with:
          install: yarn
          build: yarn build
          start: yarn start
          browser: chrome
