name: Check website every 2 hours

on:
  schedule:
    - cron: '0 */2 * * *'
  push:
    branches:
      - main
jobs:
  cypress_tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node-version }}
          registry-url: 'https://npm.pkg.github.com'
      - run: echo '${{ secrets.CYPRESS_ENV }}' > cypress.env.json
      - run: echo '${{ secrets.ENV_LOCAL }}' > .env.local
      - run: echo "registry=https://registry.yarnpkg.com/" > .npmrc
      - run: echo "@internxt:registry=https://npm.pkg.github.com" >> .npmrc
      # You cannot read packages from other private repos with GITHUB_TOKEN
      # You have to use a PAT instead https://github.com/actions/setup-node/issues/49
      - run: echo //npm.pkg.github.com/:_authToken=${{ secrets.CI_USER_GH_TOKEN }} >> .npmrc
      - run: echo "always-auth=true" >> .npmrc

      - name: Cypress run
        uses: cypress-io/github-action@v6

        with:
          install: yarn
          build: yarn build
          start: yarn start
          browser: chrome

      - name: Send Slack notification
        uses: rtCamp/action-slack-notify@v2
        if: failure()
        env:
          SLACK_CHANNEL: website-monitoring
          SLACK_COLOR: ${{ job.status }}
          SLACK_ICON: https://github.com/internxt/website/blob/main/public/favicon.ico
          SLACK_MESSAGE: 'Cypress tests: ${{ job.status }}'
          SLACK_TITLE: Checking website
          SLACK_USERNAME: Inxt Bot
          SLACK_WEBHOOK: ${{ secrets.SLACK_NOTIFICATIONS_URL }}
