name: SonarCloud analysis

on:
  push:
    branches: ['main']
  pull_request:
    types: [opened, synchronize, reopened]
    branches: ['main']
  workflow_dispatch:

permissions:
  pull-requests: read

jobs:
  Analysis:
    name: Analysis (18.x)
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node_version: [22.x]

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node_version }}
          cache: yarn
      - run: echo '${{ secrets.CYPRESS_ENV }}' > cypress.env.json
      - run: echo '${{ secrets.ENV_LOCAL }}' > .env.local

      - name: Test and coverage
        uses: cypress-io/github-action@v6
        with:
          install: yarn install
          build: yarn build
          start: yarn start
          browser: chrome

      - name: Cypress artifacts
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: cypress-videos
          path: cypress/videos/**/*

      - name: Analyze with SonarCloud
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
